---
import cfg from 'virtual:edoxen-config'
import OimlLayout from '../../../layouts/OimlLayout.astro'
import { urlPrefix, localePrefixOf, safePickLocalizedValue } from '../../../utils/url.js'
import { loadMeetings } from '../../../utils/meetings.js'

export function getStaticPaths() {
  return cfg.locales
    .filter((l) => (l.routePrefix ?? '') !== '')
    .map((l) => ({ params: { lang: l.code } }))
}

const lang = Astro.params.lang ?? cfg.site.locale
const prefix = urlPrefix(cfg.site.basePath, localePrefixOf(cfg.locales, lang))
const meetings = await loadMeetings()
---

<OimlLayout lang={lang} title="Meetings">
  <div class="res-page">
    <header class="res-page__header">
      <h1>Meetings</h1>
    </header>

    {meetings.length === 0 ? (
      <p>No meetings found.</p>
    ) : (
      <div class="std-results">
        {meetings.map((m) => (
          <a href={`${prefix}meetings/${m.urn}`} class="std-results__card">
            <div class="std-results__name">
              {m.body_type && <span class="std-results__badge">{m.body_type}</span>}
            </div>
            <div class="std-results__title">{safePickLocalizedValue(m.title, lang, m.urn)}</div>
            {m.scheduled_date_range?.start && <span class="std-results__badge">{m.scheduled_date_range.start}</span>}
          </a>
        ))}
      </div>
    )}
  </div>
</OimlLayout>
